version: 1.0.0

type: DeclarativeSource

check:
  type: CheckDynamicStream
  stream_count: 1
  use_check_availability: false

dynamic_streams:
  - type: DynamicDeclarativeStream
    use_parent_parameters: false
    stream_template:
      type: DeclarativeStream
      name: ""
      $parameters:
        i: 123
      primary_key: []
      retriever:
        type: SimpleRetriever
        $parameters:
          row_count: 0
          worksheet_id: ""
          batch_size: 0
        partition_router:
          type: CustomPartitionRouter
          class_name: source_declarative_manifest.components.ExcelRangePartitionRouter
        paginator:
          type: NoPagination
        record_selector:
          decoder:
            type: JsonDecoder
          extractor:
            type: CustomRecordExtractor
            class_name: source_declarative_manifest.components.ExcelDataExtractor
            description: Extract record list of values (rows) and matches such values to correct schema property to generate individual records.
            field_path:
              - values
            $parameters:
              schema_type_identifier:
                $ref: "#/definitions/schema_type_identifier"
              values_to_match_key: "values"
              properties_to_match: ""
          type: RecordSelector
          $parameters:
            name: ""
        requester:
          $ref: "#/definitions/base_requester"
          $parameters:
            worksheet_id: ""
            name: ""
          http_method: GET
          path: >-
            {% if config["workbook_id"] | regex_search("^(https://.*)") %}{{ config["workbook_id"] | regex_search("/items/([-\\w]+)/?") }}{% else %}{{ config["workbook_id"] }}{% endif %}/workbook/worksheets/{{parameters["worksheet_id"]}}/range(address='{{stream_partition.start_range}}:{{stream_partition.end_range}}')?$select=values
          error_handler:
            type: DefaultErrorHandler
            backoff_strategies:
              - type: ExponentialBackoffStrategy
            response_filters:
              $ref: "#/definitions/response_filters/response_error_filters"
      schema_loader:
        type: DynamicSchemaLoader
        retriever:
          type: SimpleRetriever
          paginator:
            type: NoPagination
          record_selector:
            extractor:
              type: CustomRecordExtractor
              class_name: source_declarative_manifest.components.ExcelSchemaExtractor
              parameters:
                schema_type_identifier:
                  $ref: "#/definitions/schema_type_identifier"
              field_path:
                - values
                - 0
            type: RecordSelector
          requester:
            $ref: "#/definitions/base_requester"
            $parameters:
              worksheet_id: ""
            http_method: GET
            path: >-
              {% if config["workbook_id"] | regex_search("^(https://.*)") %}{{ config["workbook_id"] | regex_search("/items/([-\\w]+)/?") }}{% else %}{{ config["workbook_id"] }}{% endif %}/workbook/worksheets/{{parameters["worksheet_id"]}}/range(address='1:1')?$select=values
            error_handler:
              type: CompositeErrorHandler
              error_handlers:
                - type: DefaultErrorHandler
                  backoff_strategies:
                    - type: ExponentialBackoffStrategy
                  response_filters:
                    $ref: "#/definitions/response_filters/single_sheet_response_error_filters"
        schema_type_identifier:
          $ref: "#/definitions/schema_type_identifier"
    components_resolver:
      type: HttpComponentsResolver
      description: We use first row of worksheet to obtain data.
      retriever:
        $ref: "#/definitions/retrievers/components_resolver_retriever"
      components_mapping:
        - field_path:
            - name
          type: ComponentMappingDefinition
          value: >-
            {%- set overrides = config.get('stream_name_overrides', [])
                | selectattr('source_stream_name', 'equalto', components_values['name'])
                | list -%}
            {{ overrides[0]['custom_stream_name'] if overrides else components_values['name'] }}
          value_type: string
          description: name for dynamic stream (with optional override).
        - field_path:
            - schema_loader
            - retriever
            - requester
            - $parameters
            - worksheet_id
          type: ComponentMappingDefinition
          value: "{{components_values['id']}}"
          description: worksheet_id for dynamic schema loader requester.
        - field_path:
            - retriever
            - requester
            - $parameters
            - worksheet_id
          type: ComponentMappingDefinition
          value: "{{components_values['id']}}"
          description: worksheet_id for dynamic stream retriever requester.
        - field_path:
            - retriever
            - record_selector
            - extractor
            - $parameters
            - properties_to_match
          type: ComponentMappingDefinition
          value: "{{components_values.get('header_row', [])}}"
          description: indexed_schema to match with row values.
        - field_path:
            - retriever
            - partition_router
            - $parameters
            - row_count
          type: ComponentMappingDefinition
          value: "{{components_values.get('row_count', 0)}}"
        - field_path:
            - retriever
            - partition_router
            - $parameters
            - worksheet_id
          type: ComponentMappingDefinition
          value: "{{components_values['id']}}"
          description: worksheet_id for retriever.
        - field_path:
            - retriever
            - partition_router
            - $parameters
            - batch_size
          type: ComponentMappingDefinition
          value: "{{config.get('batch_size', 1000000)}}"
          description: batch size count for dynamic stream partition router (slicer).

definitions:
  streams:
    get_workbook_info_and_worksheets:
      type: DeclarativeStream
      name: get_workbook_info_and_worksheets
      retriever:
        type: SimpleRetriever
        requester:
          $ref: "#/definitions/base_requester"
          path: >-
            {% if config["workbook_id"] | regex_search("^(https://.*)") %}{{ config["workbook_id"] | regex_search("/items/([-\\w]+)/?") }}{% else %}{{ config["workbook_id"] }}{% endif %}/workbook/worksheets
          http_method: GET
          error_handler:
            type: CompositeErrorHandler
            error_handlers:
              - type: DefaultErrorHandler
                backoff_strategies:
                  - type: ExponentialBackoffStrategy
                response_filters:
                  $ref: "#/definitions/response_filters/response_error_filters"
        record_selector:
          type: RecordSelector
          extractor:
            type: DpathExtractor
            field_path:
              - value
          record_filter:
            type: RecordFilter
            condition: '{{ record["visibility"] == "Visible" }}'
      schema_loader:
        type: InlineSchemaLoader
        schema:
          $ref: "#/schemas/worksheets"
  base_requester:
    type: HttpRequester
    url_base: >-
      {% if config["credentials"]["auth_type"] == "Service" %}https://graph.microsoft.com/v1.0/drives/{% else %}https://graph.microsoft.com/v1.0/me/drive/items/{% endif %}
    use_cache: true
    authenticator: "#/definitions/authenticator"
  retrievers:
    components_resolver_retriever:
      type: SimpleRetriever
      paginator:
        type: NoPagination
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path:
            - value
      partition_router:
        type: SubstreamPartitionRouter
        parent_stream_configs:
          - type: ParentStreamConfig
            parent_key: id
            partition_field: worksheet_id
            stream:
              $ref: "#/definitions/streams/get_workbook_info_and_worksheets"
      requester:
        $ref: "#/definitions/base_requester"
        description: workbook_id can be either the full url to workbook or the workbook id.
        http_method: GET
        path: >-
          {% if config["workbook_id"] | regex_search("^(https://.*)") %}{{ config["workbook_id"] | regex_search("/items/([-\\w]+)/?") }}{% else %}{{ config["workbook_id"] }}{% endif %}/workbook/worksheets/{{stream_partition.worksheet_id}}
        error_handler:
          type: DefaultErrorHandler
          backoff_strategies:
            - type: ExponentialBackoffStrategy
          response_filters:
            $ref: "#/definitions/response_filters/single_sheet_response_error_filters"
  response_filters:
    deduplicate_headers:
      type: HttpResponseFilter
      action: IGNORE
      predicate: >-
        {{ response.get("values", [[]])[0] | length != response.get("values", [[]])[0] | unique | list | length }}
      error_message: >-
        {%- set headers_found = response.get("values", [[]])[0] -%}
        {%- set duplicate_fields = [] -%}
        {%- for header in headers_found -%}
            {%- if headers_found.count(header) > 1 and header not in duplicate_fields -%}
                {%- set duplicate_fields = duplicate_fields.append(header) -%}
            {%- endif -%}
        {%- endfor -%}
        Duplicate headers found in worksheet. Deduplicating them by appending cell position: {{ duplicate_fields }}
    fail_duplicate_headers:
      $ref: "#/definitions/response_filters/deduplicate_headers"
      action: FAIL
      error_message: >-
        {%- set headers_found = response.get("values", [[]])[0] -%}
        {%- set duplicate_fields = [] -%}
        {%- for header in headers_found -%}
            {%- if headers_found.count(header) > 1 and header not in duplicate_fields -%}
                {%- set duplicate_fields = duplicate_fields.append(header) -%}
            {%- endif -%}
        {%- endfor -%}
        The following duplicate headers were found in the worksheet. Please fix them to continue: {{ duplicate_fields }}
    server_error:
      type: HttpResponseFilter
      action: RETRY
      http_codes:
        - 500
        - 502
        - 503
      error_message: >-
        There was an issue with the Microsoft Graph API. This is usually a temporary issue from
        Microsoft's side. Please try again. If this issue persists, contact support
    forbidden:
      type: HttpResponseFilter
      action: FAIL
      http_codes:
        - 403
      error_message: >-
        The authenticated user does not have permissions to view the
        workbook with id {{config["workbook_id"]}}. Please ensure the authenticated user has access
        to the Workbook and reauthenticate. If the issue persists, contact support.
        The caller does not have right permissions.
    not_found:
      type: HttpResponseFilter
      action: FAIL
      http_codes:
        - 404
      error_message: >-
        The requested Excel workbook with id {{config["workbook_id"]}} does not exist.
        Please ensure the Workbook Link you have set is valid and the workbook exists. If the issue persists, contact support
    rate_limit:
      type: HttpResponseFilter
      action: RATE_LIMITED
      http_codes:
        - 429
      error_message: >-
        Rate limit has been reached. Please try later or request a higher quota for your account.
    single_sheet_response_error_filters:
      - $ref: "#/definitions/response_filters/deduplicate_headers"
      - $ref: "#/definitions/response_filters/rate_limit"
    check_operation_single_sheet_response_error_filters:
      - $ref: "#/definitions/response_filters/fail_duplicate_headers"
      - $ref: "#/definitions/response_filters/rate_limit"
    response_error_filters:
      - $ref: "#/definitions/response_filters/server_error"
      - $ref: "#/definitions/response_filters/forbidden"
      - $ref: "#/definitions/response_filters/not_found"
      - $ref: "#/definitions/response_filters/rate_limit"
  schema_type_identifier:
    key_pointer:
      - 0
    schema_pointer:
      - values
  oauth_authenticator:
    type: OAuthAuthenticator
    refresh_request_body: {}
    token_refresh_endpoint: https://login.microsoftonline.com/{{ config["credentials"]["tenant_id"] }}/oauth2/v2.0/token
    grant_type: refresh_token
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
    refresh_token: '{{ config["credentials"]["refresh_token"] }}'
  client_credentials_authenticator:
    type: OAuthAuthenticator
    refresh_request_body: 
      scope: "https://graph.microsoft.com/.default"
    token_refresh_endpoint: https://login.microsoftonline.com/{{ config["credentials"]["tenant_id"] }}/oauth2/v2.0/token
    grant_type: client_credentials
    client_id: '{{ config["credentials"]["client_id"] }}'
    client_secret: '{{ config["credentials"]["client_secret"] }}'
  authenticator:
    type: SelectiveAuthenticator
    authenticator_selection_path: ["credentials", "auth_type"]
    authenticators:
      OAuth: "#/definitions/oauth_authenticator"
      Service: "#/definitions/client_credentials_authenticator"

schemas:
  worksheets:
    type: object
    $schema: http://json-schema.org/schema#
    additionalProperties: true
    properties:
      id:
        type:
          - string
          - "null"
      name:
        type:
          - string
          - "null"
      position:
        type:
          - number
          - "null"
      visibility:
        type:
          - string
          - "null"

spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    title: Excel Sheets Source Spec
    type: object
    required:
      - workbook_id
      - credentials
    additionalProperties: true
    properties:
      batch_size:
        type: integer
        title: Row Batch Size
        description: >-
          Default value is 1000000.
          An integer representing row batch size for each sent request to Microsoft Graph API.
          Row batch size means how many rows are processed from the excel sheet, for example default value 1000000
          would process rows 2-1000002, then 1000003-2000003 and so on.
          Based on Microsoft Graph API limits documentation,
          it is possible to send up to 100 requests per minute for each user.
          Consider network speed and number of columns of the excel sheet when deciding a batch_size value.
        default: 1000000
        order: 1
      workbook_id:
        type: string
        title: Workbook Link
        description: >-
          Enter the link to the Excel workbook you want to sync from OneDrive or SharePoint. 
          To copy the link, open the file in Excel Online, click 'Share' and copy the link.
        examples:
          - https://contoso-my.sharepoint.com/personal/user_contoso_com/_layouts/15/Doc.aspx?sourcedoc={file-id}
          - https://contoso.sharepoint.com/sites/TeamSite/Shared%20Documents/MyWorkbook.xlsx
        order: 0
      names_conversion:
        type: boolean
        title: Convert Column Names to SQL-Compliant Format
        description: >-
          Converts column names to a SQL-compliant format (snake_case, lowercase, etc).
          If enabled, you can further customize the sanitization using the options below.
        default: false
        order: 2
      remove_leading_trailing_underscores:
        type: boolean
        title: Remove Leading and Trailing Underscores
        description: >-
          Removes leading and trailing underscores from column names. Does not remove leading underscores from column names that start with a number.
          Example: "50th Percentile? "→ "_50_th_percentile"
          This option will only work if "Convert Column Names to SQL-Compliant Format (names_conversion)" is enabled.
        default: false
        order: 3
      combine_number_word_pairs:
        type: boolean
        title: Combine Number-Word Pairs
        description: >-
          Combines adjacent numbers and words.
          Example: "50th Percentile?" → "_50th_percentile_"
          This option will only work if "Convert Column Names to SQL-Compliant Format (names_conversion)" is enabled.
        default: false
        order: 4
      remove_special_characters:
        type: boolean
        title: Remove All Special Characters
        description: >-
          Removes all special characters from column names.
          Example: "Example ID*" → "example_id"
          This option will only work if "Convert Column Names to SQL-Compliant Format (names_conversion)" is enabled.
        default: false
        order: 5
      combine_letter_number_pairs:
        type: boolean
        title: Combine Letter-Number Pairs
        description: >-
          Combines adjacent letters and numbers.
          Example: "Q3 2023" → "q3_2023"
          This option will only work if "Convert Column Names to SQL-Compliant Format (names_conversion)" is enabled.
        default: false
        order: 6
      allow_leading_numbers:
        type: boolean
        title: Allow Leading Numbers
        description: >-
          Allows column names to start with numbers.
          Example: "50th Percentile" → "50_th_percentile"
          This option will only work if "Convert Column Names to SQL-Compliant Format (names_conversion)" is enabled.
        default: false
        order: 7
      credentials:
        type: object
        title: Authentication
        description: >-
          Credentials for connecting to the Microsoft Graph API
        oneOf:
          - title: OAuth2.0 (Delegated Permissions)
            type: object
            required:
              - auth_type
              - tenant_id
              - client_id
              - client_secret
              - refresh_token
            properties:
              auth_type:
                type: string
                const: OAuth
              tenant_id:
                title: Tenant ID
                type: string
                description: "Enter your Microsoft Azure Tenant ID. Use 'common' for multi-tenant applications."
                airbyte_secret: true
                default: "common"
                examples:
                  - "common"
                  - "12345678-1234-1234-1234-123456789012"
              client_id:
                title: Client ID
                type: string
                description: "Enter your Microsoft application's Client ID."
                airbyte_secret: true
              client_secret:
                title: Client Secret
                type: string
                description: "Enter your Microsoft application's Client Secret."
                airbyte_secret: true
              refresh_token:
                title: Refresh Token
                type: string
                description: "Enter your Microsoft application's refresh token. See <a href='https://docs.microsoft.com/en-us/graph/auth-v2-user'>Microsoft's documentation</a> for more information."
                airbyte_secret: true
          - title: Service Principal (Application Permissions)
            type: object
            required:
              - auth_type
              - tenant_id
              - client_id
              - client_secret
            properties:
              auth_type:
                type: string
                const: Service
              tenant_id:
                title: Tenant ID
                type: string
                description: "Enter your Microsoft Azure Tenant ID."
                airbyte_secret: true
                examples:
                  - "12345678-1234-1234-1234-123456789012"
              client_id:
                title: Client ID
                type: string
                description: "Enter your Microsoft application's Client ID. The application must have Files.Read.All and Sites.Read.All application permissions."
                airbyte_secret: true
              client_secret:
                title: Client Secret
                type: string
                description: "Enter your Microsoft application's Client Secret."
                airbyte_secret: true
      stream_name_overrides:
        type: array
        title: Stream Name Overrides
        description: >-
          **Overridden streams will default to Sync Mode: Full Refresh (Append), which does not support primary keys. If you want to use primary keys and deduplication, update the sync mode to "Full Refresh | Overwrite + Deduped" in your connection settings.**

          Allows you to rename streams (Excel worksheet names) as they appear in Airbyte. 

          Each item should be an object with a `source_stream_name` (the exact name of the worksheet in your workbook) 
          and a `custom_stream_name` (the name you want it to appear as in Airbyte and the destination).

          If a `source_stream_name` is not found in your workbook, it will be ignored and the default name will be used.
          This feature only affects stream (worksheet) names, not field/column names.

          If you want to rename fields or column names, you can do so using the Airbyte Mappings feature after your connection is created. See the Airbyte documentation for more details on how to use Mappings.

          Examples:
            - To rename a worksheet called "Sheet1" to "sales_data", and "2024 Q1" to "q1_2024":
              [
                { "source_stream_name": "Sheet1", "custom_stream_name": "sales_data" },
                { "source_stream_name": "2024 Q1", "custom_stream_name": "q1_2024" }
              ]
            - If you do not wish to rename any streams, leave this blank.
        items:
          type: object
          required:
            - source_stream_name
            - custom_stream_name
          properties:
            source_stream_name:
              type: string
              title: Source Stream Name
              description: The exact name of the worksheet in your Excel Workbook.
              order: 0
            custom_stream_name:
              type: string
              title: Custom Stream Name
              description: The name you want this stream to appear as in Airbyte and your destination.
              order: 1
          order: 8
  advanced_auth:
    auth_flow_type: oauth2.0
    predicate_key:
      - credentials
      - auth_type
    predicate_value: OAuth
    oauth_config_specification:
      complete_oauth_output_specification:
        type: object
        additionalProperties: false
        properties:
          refresh_token:
            type: string
            path_in_connector_config:
              - credentials
              - refresh_token
      complete_oauth_server_input_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
          client_secret:
            type: string
      complete_oauth_server_output_specification:
        type: object
        additionalProperties: false
        properties:
          client_id:
            type: string
            path_in_connector_config:
              - credentials
              - client_id
          client_secret:
            type: string
            path_in_connector_config:
              - credentials
              - client_secret

concurrency_level:
  type: ConcurrencyLevel
  default_concurrency: 1
  max_concurrency: 1